#support-page{
    background-color: #CBC2F3;
    margin-top: -100px;
    padding: 20px;
}

#title{
    margin-top: 100px;
}

.icon{
    width: 130px;
    height: 130px;
    margin-left: 50px;
    display: block;
}

#support-cards{
    margin-left:  30px;
}

.support{
    width: 250px;
    margin-left: 40px;
    text-align: center;
    color: #ffcc3d;
    padding: 5px;
}