#hero-image{
    margin-top: -300px;
    filter: brightness(80%)
}

#hero-content{
    position: absolute;
    top: 25%;
    left: 20%;
}

#donate-button{
    width: 180px;
    height: 50px;
    color: black;
    border-width: thin;
    border-style: groove;
    background-color: #916aff;
    transform: translate(-0%, -0%);
}

#donate-button span{
    position: relative;
    z-index: 0;
  }
  
#donate-button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-color: #ffcc3d;
    background: #ffcc3d;
    transition: all .35s;
    z-index: -1;
  }
  
#donate-button:hover{
    color: white;
    border-color: #ffcc3d;
  }
  
#donate-button:hover:after{
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    #hero-image{
      margin-top: -100px;
    }
    #hero-content{
      position: absolute;
      margin-top: -130px;
      left: 2%;
    }
  }

  @media screen and (max-width: 760px) {
    #hero-image{
      margin-top: -100px;
    }
    #hero-content{
      position: absolute;
      top: 14%;
      left: 1%;
    }
  }