#about-us-page{
    background-color: #CBC2F3;
    margin-top: -100px;
    padding: 20px;
}

#who-we-are-content{
    margin-top: 20px;
    text-align: center;
}

#our-story{
    margin-top: 100px;
    margin-left: 45%;
}