#cards-div{
    margin-left: 10%;
}

#blog-card{
    width: 320px;
}

#search-bar{
    width: 250px;
    margin-left: 69%;
}

#blog-page{
    background-color: #CBC2F3;
    margin-top: -100px;
    color: black;
}