#cards-div{
    margin-left: 9%;
}

#blog-card{
    width: 320px;
}

#search-bar{
    width: 250px;
    margin-left: 72%;
}

#blog-page{
    background-color: #CBC2F3;
    margin-top: -100px;
    color: black;
}

@media screen and (max-width: 480px) {

    #cards-div{
        margin-left: 4%;
    }

    #search-bar{
        width: 250px;
        margin-left: 9%;
        margin-top: 10%;
    }
}